.footerwrapper {
    background: #EAEAEA;
    padding:  50px 100px 50px 100px;
    display: flex;
    justify-content: center;
    justify-self: center;
}

.logo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-self: flex-start;
}