.sideVerticalNumberTitle {
    font-family: 'Vocal';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: left;
    white-space: nowrap;
}